.recordings-table {
  margin-top: 30px;
  width: 100%;
}

.recordings-table tbody {
  width: 100%;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 7px;
}

tr {
  width: 100%;
}

th,td {
  width: 33.333%;
  text-align: center;
}